@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&family=Montserrat+Alternates:ital,wght@0,100;1,100&display=swap');
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 40px;
}

form {
  background: var(--background-color-primary);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1rem 0;
  display: block;
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

input:focus {
  border-bottom: 2px solid #3eb9d8;
}

button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: #3eb9d8;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(110, 130, 221);
  margin-top: 1rem;
}
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
#titulo {
  position: absolute;
  top: 50px;
  font-family: 'Six Caps', sans-serif;
  color: #f2ff00;
  text-shadow: 0px 0px 5px #899CD5, 1px 1px 0 #8194CD, 2px 2px 0 #788BC4, 3px 3px 0 #6F82BB, 4px 4px 0 #677AB3, 5px 5px 0 #5E71AA, 6px 6px 0 #5568A1, 7px 7px 0 #4C5F98, 8px 8px 0 #445790, 9px 9px 0 #3B4E87, 10px 10px 0 #32457E, 11px 11px 0 #2A3D76, 12px 12px 0 #21346D, 2px 2px 2px rgba(206,89,55,0);
}

@media (max-width: 800px) {

  #titulo{
    font-size: 100px;
    top: 120px
  }
}

@media (max-width: 630px) {

  #titulo{
    font-size: 85px;
    top: 125px
  }
}

@media (max-width: 535px) {

  #titulo{
    font-size: 76px;
    top: 135px
  }
}

@media (max-width: 475px) {

  #titulo{
    font-size: 55px;
    top: 140px
  }
}

@media (max-width: 355px) {

  #titulo{
    font-size: 45px;
    top: 150px
  }
}