*,
body,
html {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background: rgb(52, 48, 55);
}

:root {
  --background-color-primary: rgb(229, 229, 242);
  --background-color-secondary: #eff0f0;
}


